data/
.idea/
workspace.xml
.venv/
.idea/workspace.xml
src/__pycache__
src/__pycache__/data_loader.cpython-310.pyc
src/__pycache__/data_analyzer.cpython-310.pyc
src/__pycache__/data_cleaner.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
log_registros_descartados.txt
log_duplicados.txt
src/__pycache__/data_cleaner.cpython-310.pyc
src/__pycache__/data_loader.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/data_cleaner.cpython-310.pyc
src/__pycache__/data_loader.cpython-310.pyc
build/hello/Analysis-00.toc
build/hello/base_library.zip
build/hello/EXE-00.toc
build/hello/hello.pkg
build/hello/PKG-00.toc
build/hello/PYZ-00.pyz
build/hello/PYZ-00.toc
build/hello/warn-hello.txt
build/hello/xref-hello.html
build/hello/localpycs/pyimod01_archive.pyc
build/hello/localpycs/pyimod02_importers.pyc
build/hello/localpycs/pyimod03_ctypes.pyc
build/hello/localpycs/struct.pyc
dist/hello
hello.spec
distribution/hello
distribution/run_app.sh
distribution/assets/logo.png
distribution/pages/1_🩹_Lesiones_Autoinfligidas.py
distribution/pages/2_📉_Muertes_por_Suicidio.py
distribution/pages/3_🌎_Análisis_Territorial.py
distribution/src/__init__.py
distribution/src/auth.py
distribution/src/data_analyzer.py
distribution/src/data_cleaner.py
distribution/src/data_loader.py
distribution/src/ui.py
distribution/src/visualization.py
distribution/src/__pycache__/__init__.cpython-310.pyc
distribution/src/__pycache__/__init__.cpython-311.pyc
distribution/src/__pycache__/__init__.cpython-312.pyc
distribution/src/__pycache__/data_analyzer.cpython-310.pyc
distribution/src/__pycache__/data_analyzer.cpython-311.pyc
distribution/src/__pycache__/data_analyzer.cpython-312.pyc
distribution/src/__pycache__/data_cleaner.cpython-310.pyc
distribution/src/__pycache__/data_cleaner.cpython-311.pyc
distribution/src/__pycache__/data_cleaner.cpython-312.pyc
distribution/src/__pycache__/data_loader.cpython-310.pyc
distribution/src/__pycache__/data_loader.cpython-311.pyc
distribution/src/__pycache__/data_loader.cpython-312.pyc
distribution/src/__pycache__/ui.cpython-311.pyc
distribution/src/__pycache__/ui.cpython-312.pyc
distribution/src/__pycache__/visualization.cpython-311.pyc
distribution/src/__pycache__/visualization.cpython-312.pyc
lain_analysis_app.tar.gz
test_dist/distribution/app_error.log
test_dist/distribution/hello
test_dist/distribution/run_app.sh
test_dist/distribution/assets/logo.png
test_dist/distribution/pages/1_🩹_Lesiones_Autoinfligidas.py
test_dist/distribution/pages/2_📉_Muertes_por_Suicidio.py
test_dist/distribution/pages/3_🌎_Análisis_Territorial.py
test_dist/distribution/src/__init__.py
test_dist/distribution/src/auth.py
test_dist/distribution/src/data_analyzer.py
test_dist/distribution/src/data_cleaner.py
test_dist/distribution/src/data_loader.py
test_dist/distribution/src/ui.py
test_dist/distribution/src/visualization.py
test_dist/distribution/src/__pycache__/__init__.cpython-310.pyc
test_dist/distribution/src/__pycache__/__init__.cpython-311.pyc
test_dist/distribution/src/__pycache__/__init__.cpython-312.pyc
test_dist/distribution/src/__pycache__/data_analyzer.cpython-310.pyc
test_dist/distribution/src/__pycache__/data_analyzer.cpython-311.pyc
test_dist/distribution/src/__pycache__/data_analyzer.cpython-312.pyc
test_dist/distribution/src/__pycache__/data_cleaner.cpython-310.pyc
test_dist/distribution/src/__pycache__/data_cleaner.cpython-311.pyc
test_dist/distribution/src/__pycache__/data_cleaner.cpython-312.pyc
test_dist/distribution/src/__pycache__/data_loader.cpython-310.pyc
test_dist/distribution/src/__pycache__/data_loader.cpython-311.pyc
test_dist/distribution/src/__pycache__/data_loader.cpython-312.pyc
test_dist/distribution/src/__pycache__/ui.cpython-311.pyc
test_dist/distribution/src/__pycache__/ui.cpython-312.pyc
test_dist/distribution/src/__pycache__/visualization.cpython-311.pyc
test_dist/distribution/src/__pycache__/visualization.cpython-312.pyc
